body {
    font-family: Helvetica, sans-serif;
    background-image: url(cave.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.mainSection {
    background-color: rgba(255,255,255,.8);
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
}

.jewel {
    height: 100px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px auto;

}

.jewelWrap {
    display: flex;
    justify-content: space-between;
}

.jewel1 {
    background-image: url(img/crystals-02.png)
}
.jewel2 {
    background-image: url(img/crystals-03.png)
}
.jewel3 {
    background-image: url(img/crystals-04.png)
}

.crystalHead {
    background-image: url(img/crystals-05.png);
    height: 130px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}